.container-filter {
  display: flex;
  justify-content: center;
  position: relative;
  top: 408px;
  height: Hug (32px);
  /* width: 684px; */
}

.filter-body {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 24px;
  text-align: center;
}

.filter-choices {
  cursor: pointer;
  border-radius: 30px;
  padding: 8px, 16px, 8px, 16px;
  gap: 10px;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-choices {
  padding: 0 5px;
  box-sizing: border-box;
}

.clicked {
  border: 1px solid #000;
  box-sizing: border-box;
}
