.post-grid {
  display: grid;
  position: relative;
  top: 504px;
  gap: 32px;
  width: 89.5vw;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.blog-post {
  margin: auto;
  height: 620px;
  width: 408px;
}
.post-image {
  border-radius: 12px;
  height: 328px;
  width: 408px;
}
.author {
  margin-top: 24px;
  text-align: left;
  color: #1a1a1f;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.date {
  margin-top: 8px;
  text-align: left;
  color: #85858d;
  font-family: FiraGO;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.title {
  text-align: left;
  color: #1a1a1f;
  font-family: FiraGO;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  margin-top: 16px;
}
.category-section {
  text-align: left;
  margin: 16px 0;
}
.choice-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.category-section {
  display: flex;
  position: relative;
  gap: 10px;
}
.filter-choices {
  text-wrap: nowrap;
}
.filter-choices--1 {
  justify-content: left;
}
.desc {
  height: 56px;
  overflow: hidden;
  color: #404049;
  font-family: FiraGO;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.view-more {
  margin-right: auto;
  color: rgba(93, 55, 243, 1);
  font-family: FiraGO;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  display: block;
  margin-left: auto;
  cursor: pointer;
}
