@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:200,400,500,700');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #1a1a1f;
  font-family: 'FiraGO', sans-serif;
}
.App-header {
  background-color: #fff;
}
