@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:200,400,500,700');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #1a1a1f;
  font-family: 'FiraGO', sans-serif;
}
.App-header {
  background-color: #fff;
}
/* Navigation */

nav {
  /* width: 1440px; */
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #e4e3eb;
  background-color: #fff;
}
.logo {
  width: 150px;
  height: 24px;
  position: relative;
  top: 28px;
  left: 76px;
}
.login {
  width: Hug (93px);
  height: Hug (40px);
  position: relative;
  top: 20px;
  /* left: 1271px; */
  right: 76px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 8px;
  gap: 10px;
  background-color: #5d37f3;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
/* Blog part */

.container-body {
  display: flex;
  justify-content: space-between;
}
.blog-title {
  width: 225px;
  height: 72px;
  position: relative;
  top: 208px;
  left: 89px;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
}
.blog-img {
  width: 624px;
  height: 200px;
  position: relative;
  top: 144px;
  right: 89px;
}
/* Filtering section */

.container-filter {
  display: flex;
  justify-content: center;
  position: relative;
  top: 408px;
  height: Hug (32px);
  /* width: 684px; */
}

.filter-body {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 24px;
  text-align: center;
}

.filter-choices {
  cursor: pointer;
  border-radius: 30px;
  padding: 8px, 16px, 8px, 16px;
  gap: 10px;
  height: 32px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-choices:nth-child(1) {
  background-color: rgba(255, 186, 47, 0.2);
  color: rgba(214, 150, 28, 1);
  width: 83px;
}
.filter-choices:nth-child(2) {
  background-color: rgba(28, 214, 125, 0.2);
  color: rgba(21, 201, 114, 1);
  width: 97px;
}
.filter-choices:nth-child(3) {
  background-color: rgba(238, 225, 247, 1);
  color: rgba(183, 31, 221, 1);
  width: 178px;
}
.filter-choices:nth-child(4) {
  background-color: rgba(250, 87, 87, 0.2);
  color: rgba(220, 40, 40, 1);
  width: 65px;
}
.filter-choices:nth-child(5) {
  background-color: rgba(233, 239, 233, 1);
  color: rgba(96, 190, 22, 1);
  width: 77px;
}
.filter-choices:nth-child(6) {
  background-color: rgba(8, 210, 174, 0.2);
  color: rgba(26, 199, 168, 1);
  width: 64px;
}
